.chat-main
  .chat-main__group-info
    .group-overview
      .group-overview__group-name
        グループリスト
      .group-overview__member-list
        %ul.group-overview__member-list--list
          Member:
          %li.group-overview__member-list--member
            Masa
          %li.group-overview__member-list--member
            Takashi
          %li.group-overview__member-list--member
            Syuji
    =link_to "#" ,class:"edit-btn" do
      Edit
  .chat-main__message-list
    = render @messages
  .chat-main__message-form
    .form-box
      = form_for [@group, @message],html: { class: "form-box__form-area" } do |f|
        =f.text_field :text, class: 'form-box__form-text', placeholder: 'type a message'
        = f.label :photo do
          = icon('fa','image',class:'form-box__image-icon')
          = f.file_field :photo, class: 'form-box__display-none'
        = f.submit 'SEND', class: 'form-box__send-btn'